<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
    <ion-item>
        <ion-label color="primary" stacked>Username</ion-label>
        <ion-input type="text" [(ngModel)]="username" placeholder="Username"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="primary" stacked>Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Password</ion-label>
            <ion-input type="password" [(ngModel)]="password" placeholder="password"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label color="primary" stacked>Age</ion-label>
              <ion-input type="number" [(ngModel)]="age" placeholder="Age"></ion-input>
            </ion-item>
            <ion-item>
                <ion-range [(ngModel)]="sex" min="0" max="2" step="1" snaps="true">
                  <ion-icon range-left name="ios-woman"></ion-icon>
                  <ion-icon range-right name="ios-man"></ion-icon>
                </ion-range>
              </ion-item>
          <ion-item>
              <ion-label color="primary"  stacked>Phone</ion-label>
              <ion-input type="text" [(ngModel)]="phone" placeholder="Phone"></ion-input>
            </ion-item>
    <button block ion-button round (click)="registrar()">Entrar</button>
</ion-content>
