<ion-content padding>


    <ion-list>
        <ion-card *ngFor="let i of items">

            <img src="assets/map.png">
            <ion-fab right top>
              <button ion-fab>
                <ion-icon name="pin"></ion-icon>
              </button>
            </ion-fab>
          
            <ion-item>
              <ion-icon name="sad" item-start large></ion-icon>
              <h2>{{i.tipoRobo}}</h2>
              <p>{{i.lugar}}</p>
            </ion-item>
          
            <ion-item>
              <span item-start>18 min</span>
              <span item-start>(2.6 mi)</span>
              <button ion-button icon-start clear item-end [navPush]="reportDetail" [navParams]="i.id">
                <ion-icon name="search"></ion-icon>
                Ver más
              </button>
            </ion-item>
          
          </ion-card>
      </ion-list>
     
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>


    <ion-fab bottom right >
        <button ion-fab>+</button>
        <ion-fab-list side="top">
          <button ion-fab>
              <ion-icon name="megaphone" item-start large></ion-icon>
          </button>
          <button ion-fab><ion-icon name="call" item-start large></ion-icon></button>
        </ion-fab-list>
      </ion-fab>  
</ion-content>
