<ion-slides pager paginationType="progress">

  <ion-slide class="coolSlide" padding>
    <ion-card>
          <img src="assets/brayayin.jpg"/>
          <div class="card-title">Cuidado</div>
          <div class="card-subtitle">Alerta de brayayines</div>
    </ion-card>

    <h2>En la juegapp</h2>
    <p>Reporta los robos de tu ciudad para ayudar a otros ciudadanos a no dar papaya</p>
    <p>Porque acá uno no puede vivir tranquilo y estar tranquilo es dar papaya.</p>
  </ion-slide>

  <ion-slide class="coolSlide">
      <ion-card>
          <img src="assets/tombo.jpg"/>
          <div class="card-title">Porque los tombos se la fuman</div>
          <div class="card-subtitle"> <del>Pero ayudan</del></div>
    </ion-card>
  </ion-slide>

  <ion-slide class="coolSlide">
    <h2>Bienvenid@s a en la juegapp</h2>
    <button ion-button full (click)="endTutorial()">Ingresa ya!</button>
  </ion-slide>

</ion-slides>